/* ––––––––––––––––––––––––––––––––––––––––––––
RESETS
––––––––––––––––––––––––––––––––––––––––––– */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
HELPERS
––––––––––––––––––––––––––––––––––––––––––– */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
.clear{
	clear:both;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flex-right{
    display:flex;
    justify-content: flex-end;
}
.flex-center-v{
    display:flex;
    align-items:center;
}
.flex-center-h{
    display:flex;
    justify-content:center;
}
.flex-all{
    display:flex;
    align-items:center;
    justify-content:center;
}

.center-all{
    position:absolute;
    top:50%;
    left:50%;
    @include transform(translateY(-50%) translateX(-50%));
}


.bg-primary{
    background:#333;
}
.bg-secondary{
    background:$secondary;
}
.bg-orange{
    background:$orange;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
TYPOGRAPHY
––––––––––––––––––––––––––––––––––––––––––– */
h1,h2,h3,h4{
    font-family:"Roboto";
    font-weight:900;
}
h1{
    letter-spacing:-4px;
}
h2{
    letter-spacing:-2px;
}
h3{
    letter-spacing:-1px;
}
a{
    text-decoration:none;
}
p{
    font-size:15px;
    line-height:25px;
}

.btn-primary{
    display:inline-block;
    border:none;
    background:$orange;
    color:white;
    font-family:"Roboto";
    font-size:16px;
    line-height:50px;
    height:50px;
    font-weight:900;
    text-transform:uppercase;
    letter-spacing:-0.5px;
    padding:0 50px;
    margin-top:30px;
    @include transform(skew(-35deg));
    @include transition(background 0.8s $easeOutExpo);
    &:hover{
        background: darken($orange, 10%);
    }
    span{
        display:block;
        color:white;
        @include transform(skew(35deg));
    }

}
.btn-secondary{
    display:inline-block;
    border:none;
    background:$secondary;
    color:white;
    font-family:"Roboto";
    font-size:13px;
    line-height:40px;
    height:40px;
    font-weight:900;
    text-transform:uppercase;
    letter-spacing:-0.25px;
    padding:0 30px;
    margin-top:30px;
    @include transform(skew(-35deg));
    @include transition(background 0.8s $easeOutExpo);
    &:hover{
        background: darken($secondary, 10%);
    }
    span{
        display:inline-block;
        color:white;
        @include transform(skew(35deg));
    }
}


/* ———————————————————————————————————————————

Keyframe Animations

––––––––––––––––––––––––––––––––––––––––––– */
@include keyframes(arrow-move) {
  0%   { 
    @include transform(translateX(0));
    @include opacity(1);
  }
  20%   { 
    @include transform(translateX(20px));
    @include opacity(0);
  }
  30%   { 
    @include transform(translateX(-20px));
    @include opacity(0);
  }
  100%   { 
    @include transform(translateX(0));
    @include opacity(1);
  }
}



/* ––––––––––––––––––––––––––––––––––––––––––––
GLOBAL STYLES
––––––––––––––––––––––––––––––––––––––––––– */
html,body{
	height:100%;
	-webkit-font-smoothing:antialiased;
    font-family:"Lato", sans-serif;
    background:$primary;
    min-width:1068px;
}

#main{
    position:relative;
	width:100%;
    height:100%;
    max-width:1500px;
    margin:0 auto;
    background:white;
}
.container{
	position:relative;
	width:100%;
	max-width:1100px;
	margin:0 auto;
}
.container-small{
    position:relative;
    width:100%;
    max-width:800px;
    margin:0 auto;
}

.col-1-2{
	width:50%;
	float:left;
}
.col-1-3{
	width:30.666666%;
	float:left;
    margin-right:4%;
    &:last-child{
        margin-right:0;
    }
}
.col-1-4{
    width:22%;
    float:left;
    margin-right:4%;
    &:last-child{
        margin-right:0;
    }
}


.hero{
    position:relative;
    width:100%;
    height:95%;
    max-height:800px;
    background-position:center;
    background-repeat:none;
    background-size:cover;
    .col-1-2{
        position:absolute;
        right:0;
        height:100%;
    }
    .hero-copy{
        display:inline-block;
        padding-top:50px;
        h1{
            font-size:120px;
            line-height:100px;
            color:$primary;
        }
        .btn-primary{
            margin-left:20px;
        }
    }
}


.career-links{
    height:190px;
    background:$primary;
    overflow:hidden;
    .col-1-3{
        position:relative;
        width:33.333333%;
        margin:0;
        height:100%;
        &:hover{
            .bg-image{
                @include transform(skew(35deg) scale(1.15));
            }
            a{
                i{
                    @include animation('arrow-move .6s 1');
                }
            }
        }
    }
    .career-links-copy{
        z-index:10;
        display:inline-block;
        text-align:center;
        padding-top:10px;
        h3{
            font-size:25px;
            line-height:25px;
            color:white;
        }
        span.learn-more{
            display:inline-block;
            font-size:13px;
            font-weight:700;
            text-transform:uppercase;
            color:white;
            margin-top:10px;
            i{
                font-size:10px;
                vertical-align:1px;
                margin-left:8px;
            }
        } 
    }
    .bg-skew{
        z-index:5;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        overflow:hidden;
        @include transform(skew(-35deg));
    }
    .bg-image{
        position:relative;
        width:calc(100% + 70px);
        height:100%;
        background-position:center;
        background-repeat:none;
        background-size:cover;
        @include transform(skew(35deg) scale(1.05));
        @include opacity(0.15);
        @include transition(transform 1.2s $easeOutExpo);

    }
    .col-1-3:nth-child(1){
        .bg-skew{
            width:calc(100% + 70px);
            margin-left:-70px;
        }
    }
    .col-1-3:nth-child(2){
        .bg-skew{
            width:calc(100% + 140px);
        }
        .bg-image{
            margin-left:-70px;
        }
    }
    .col-1-3:nth-child(3){
        .bg-skew{
            width:calc(100% + 70px);
            margin-right:-70px;
        }
        .bg-image{
            margin-left:-70px;
        }
    }
}


.why-nova{
    padding:120px 0 120px 0;
    background:white;
    text-align:center;
    h2{
        font-size:50px;
        line-height:50px;
        color:$primary;
    }
    p{
        color:$secondary;
        margin-top:30px;
    }
}
.why-nova-slider-wrap{
    position:relative;
    margin:70px auto;
}
.slider-next-btn{
    position:absolute;
    z-index:10;
    left:50%;
    bottom:0;
    width:40px;
    height:40px;
    background:$primary;
    text-align:center;
    cursor:pointer;
    @include opacity(0.5);
    @include transition(opacity 0.8s $easeOutExpo);
    &:hover{
        @include opacity(1);
    }
    i{
        font-size:12px;
        line-height:40px;
        color:white;
    }
}
.slider-prev-btn{
    position:absolute;
    z-index:10;
    right:50%;
    bottom:0;
    width:40px;
    height:40px;
    background:$primary;
    text-align:center;
    cursor:pointer;
    @include opacity(0.5);
    @include transition(opacity 0.8s $easeOutExpo);
    &:hover{
        @include opacity(1);
    }
    i{
        font-size:12px;
        line-height:40px;
        color:white;
    }
}

.why-nova-bullets{
    ul{
        display:inline-block;
    }
    li{
        display:block;
        text-align:left;
        font-size:18px;
        line-height:30px;
        font-family:"Roboto";
        font-weight:900;
        letter-spacing:-0.5px;
        color:$secondary;
        &:before{
            content:"";
            display:inline-block;
            width:14px;
            height:1px;
            background:#aaa;
            margin-right:10px;
            vertical-align:middle;
        }
    }
}


.latest-news{
    position:relative;
    padding:0 0 150px 0;
    background:white;
    border-top:1px solid #ddd;
    text-align:center;
    .btn-primary{
        margin-top:-0;
        margin-left:-30px;
        margin-bottom:80px;
        @include transform(skew(-35deg) translateY(-25px));
    }
    .container{
        position:relative;
    }
    .col-1-3{
        &:before{
            position:absolute;
            content:"";
            display:block;
            width:1px;
            height:100%;
            background:#ddd;
        }
    }
    .latest-news-thumb-copy{
        display:inline-block;
        text-align:left;
        padding:0 20px;
    }
    h3{
        font-size:35px;
        line-height:35px;
        margin-bottom:60px;
    }
    span.pub-date{
        display:inline-block;
        font-size:13px;
        line-height:13px;
        color:$secondary;
        margin-bottom:5px;
    }
    h4.title{
        font-size:20px;
        line-height:25px;
        color:$secondary;
    }
    p.excerpt{
        margin-top:15px;
        color:$secondary;
        a{
            font-weight:700;
            color:$orange;
            @include transition(color 0.8s $easeOutExpo);
            &:hover{
                color: darken($orange, 10%);
            }
        }
    }
    .btn-secondary{
        margin-top:70px;
    }
}

